{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {{ human.name|truncatewords:155 }}
{% endblock %}
{% block title %}
    {{ human.name }} - Sobaka Model Agency
{% endblock %}
{% block content %}
    <div class="row my_hum_row_class">
        <div class="mx-auto breadcrumb-nav">
            <p><a href="{% url 'sobaka:all_humans' %}">Home</a> | <a href="{{human.category.get_absolute_url }}">{{human.category}}</a> | <a href="#">{{human.name}}</a></p>
        </div>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <div style="min-width:18rem;">
                        <img class="humpic1" src="{{human.image1.url}}" 
                        alt="{{human.name}}">
                    </div>
                    <div class="col-sm">
                        <img class="humpic2" src="{{human.image2.url}}" 
                        alt="{{human.name}}">
                        <img class="humpic3" src="{{human.image3.url}}" 
                        alt="{{human.name}}">
                        <img class="humpic4" src="{{human.image4.url}}" 
                        alt="{{human.name}}">
                        <img class="humpic5" src="{{human.image5.url}}" 
                        alt="{{human.name}}">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="human_details">
                        <h1 class="my_hum_title">{{human.name}}</h1>
                        <br>
                        <p>Height: {{human.height}} cm</p>
                        <p>Bust: {{human.bust_size}} cm</p>
                        <p>Waist: {{human.waist_size}} cm</p>
                        <p>Hips: {{human.hip_size}} cm</p>
                        <p>Shoe Size: {{human.shoe_size}} EU</p>
                        <p>Eye Colour: {{human.eye_color}}</p>
                        <p>Hair Colour: {{human.hair_color}}</p>
                        <br>
                        <p>Hourly Rate: €{{human.price}}</p>
                        {% if human.available == 0%}
                            <p class="text-justify my_hum_text"><b>Unavailable</b></p>
                        {% else %}
                            {% if user.is_authenticated %}
                                <a class="btn btn-secondary" href="{% url 'cart:add_cart' human.id %}">Book Now</a>
                            {% else %}
                                <p>Please login or create an account to make a booking</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}