{% extends "base.html" %}
{% load static %}
{% block title %}News - Sobaka Model Agency{% endblock %}
{% block content %}
<div class="container">
    <br>
    <h1 class="my_title text-center">Latest News</h1>
    <br>
    <div class="row">
        {% for article in articles %}
        <div class="col-md-4">
            <div class="card mb-4">
                {% if article.image %}
                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description|truncatewords:20 }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}