<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Models
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'sobaka:all_humans' %}">All Models</a></li>
              {% for cat in links %}
                <li><a class="dropdown-item" href="{{cat.get_absolute_url}}">{{cat.name}}</a></li>
              {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sobaka:news' %}">News</a>
        </li>
        {% if item_count > 0 %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cart:cart_detail' %}">Booking</a>
        </li>
        {% endif %}      
      </ul>
      <form class="d-flex" action="{% url 'search_app:searchResult'%}" method="get">
        <select name="attribute" class="form-control me-2" id="attribute-select">
          <option value="">Filter</option>
          <option value="name">Name</option>
          <option value="category__name">Category</option>
          <option value="height">Height</option>
          <option value="bust_size">Bust</option>
          <option value="hip_size">Hips</option>
          <option value="waist_size">Waist</option>
          <option value="shoe_size">Shoe Size</option>
          <option value="eye_color">Eye Color</option>
          <option value="hair_color">Hair Color</option>
        </select>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<script>
  document.getElementById('attribute-select').addEventListener('focus', function() {
    var filterOption = this.querySelector('option[value=""]');
    if (filterOption) {
      filterOption.remove();
    }
  });
</script>